.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px 15vw;
  gap: 64px;
  font-family: var(--font-geist-mono);
  font-weight: 600;
  min-height: 90svh;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 5em;
  line-height: 1.75em;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleText {
  font-family: Inter;
  font-weight: 900;
  font-size: 3em;
  padding-bottom: 0.35em;
}

.descriptionText {
  text-align: center;
  line-height: 1em;
}

@media (max-width: 650px) {
  .page {
    padding: 20px 5vw;
  }
}