.app {
    display: flex;
    flex-direction: row;
    height: 99vh;
}

.suika_container {
    min-width: 50vw;
    display: flex;
}

.section_container {
    font-family: var(--font-geist-mono);
    padding: 3em; 
    min-width: 25vw;
}

.score_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.nextFruit_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nextFruit_bg { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(217,217,217,0.5);
    margin-top: 1em;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.nextText { 
    margin-bottom: 1rem;
    text-shadow: 0px 4px 3px black;
}

.scoreText { 
    margin-bottom: 1rem;
    text-shadow: 0px 4px 3px black;
}

.scoreNum {
    position: absolute;
    background-color: rgba(217,217,217,0.5);
    border-radius: 5px;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 15%;
}

@media (max-width: 650px) {
    .suika_container {
        min-width: 100vw;
    }
    
    .section_container {
        display:none;
    }

    .mobile_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45%;
        width: 100%;
    }

    .mobile_scoreContainer {
        color: white;
        pointer-events: none;

        position: absolute;
        top: 5%;
        right: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile_scoreText {
        margin-bottom: 1rem;
        text-shadow: 0px 1px 1px black;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
        paint-order: stroke fill;
        z-index: 1;
    }

    .mobile_scoreNum {
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 5px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        width: 100px;
        position: absolute;
        margin-top: 1em;

        text-shadow: 0px 2px 2px black;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
        paint-order: stroke fill;
    }



    .mobile_nextFruit {
        color: white;
        pointer-events: none;

        position: absolute;
        top: 2%;
        left: 5%;
        line-height: 0.5em;
        margin-bottom: 1em;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_nextText {
        margin-bottom: 1rem;
        text-shadow: 0px 1px 1px black;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
        paint-order: stroke fill;
        z-index: 1;
    }

    .mobile_nextFruit_bg { 
        position: absolute;
        margin-top: 1rem;
        z-index: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(217,217,217,0.5);
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

}