.logo {
    font-weight: 900;
    font-size: 1.5em;
}
  
.nav {
    border-bottom: 5px solid #3D3C3C;
}

.links {
    display: flex;
    align-items: center;
    gap: 2em;
    font-family: var(--font-geist-mono), 'Courier New', Courier, monospace;;
}

.links a:hover {
    text-decoration: underline;
}