.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 20px 30vw;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.title {
  font-family: Inter;
  font-weight: 900;
  font-size: 64px;
  line-height: 80%;
}

.ptext {
  font-family: var(--font-geist-mono);
  font-size: 1em;
  line-height: 24px;
}

.bio {
  font-family: var(--font-geist-mono), 'Courier New', Courier, monospace;;
  font-size: 14px;
  line-height: 24px;
  /* letter-spacing: -0.01em; */
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  gap: 5px;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
  text-decoration: none;
}

a.secondary {
  border-color: var(--accent-200);
  color: var(--accent);
  text-decoration: none;
}

.uline {
  text-decoration: underline;
}

.footer {
  grid-row-start: 3; /* parent is grid */
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem ;

  font-style: italic;
  font-size: 0.75em;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--accent-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    /* background: var(--button-secondary-hover); */
    background: var(--accent-hover);
    border-color: transparent;
  }
}

/* Mobile View Queries */
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .ctas{
    width: 100%;
    flex-wrap: wrap;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
