.page {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    padding: 20px 15vw;
    padding-top: 5em;
    font-family: var(--font-geist-sans);
}

.content {
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 100%; 
    gap: 3em;
    padding-top: 2em;
}

.headshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    min-width: 20svw;
    gap: 16px;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
        padding-top: 0em;
    }

}