.card {
    display: flex;
    background-color: #404040;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--gray);
    gap: 2em;

    transition: all .1s ease-in-out;
    cursor: pointer;

}

.card:hover {
    transform: scale(1.01);
}

.img {
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    background-color: #6c6666;
}

.title {
    /* font-family: Inter; */
    font-family: var(--font-geist-mono);
    font-weight: 900;
    font-size: 2em;
    padding-bottom: 0.5em;
}
